setup-state-machine.json
{
  "Comment": "An example of creating a CloudFormation stack and waiting for completion.",
  "StartAt": "Create Stack",
  "States": {
    "Create Stack": {
      "Type": "Task",
      "Parameters": {
        "StackName": "ProjectStack",
        "TemplateURL": "https://ecpecommercebucket-202501.s3.us-east-1.amazonaws.com/EcpProjectTemplate.yaml"
      },
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:createStack",
      "Next": "Wait 15 Seconds",
      "ResultPath": "$.stack_name",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ]
    },
    "Wait 15 Seconds": {
      "Type": "Wait",
      "Next": "Describe Stack",
      "Seconds": 15
    },
    "Describe Stack": {
      "Type": "Task",
      "Parameters": {
        "StackName.$": "$.stack_name.StackId"
      },
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:describeStacks",
      "Next": "Stack Creation Complete?",
      "ResultSelector": {
        "Status.$": "$.Stacks[0].StackStatus"
      },
      "ResultPath": "$.stack_status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 4,
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "JitterStrategy": "FULL"
        }
      ]
    },
    "Stack Creation Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.stack_status.Status",
          "StringEquals": "CREATE_FAILED",
          "Next": "Stack Creation Failed"
        },
        {
          "Variable": "$.stack_status.Status",
          "StringEquals": "CREATE_COMPLETE",
          "Next": "Create LambdaStack"
        },
        {
          "Variable": "$.stack_status.Status",
          "StringEquals": "CREATE_IN_PROGRESS",
          "Next": "Wait 15 Seconds"
        }
      ],
      "Default": "Stack Creation Result Unknown"
    },
    "Create LambdaStack": {
      "Type": "Task",
      "Parameters": {
        "StackName": "LambdaStack",
        "TemplateURL": "https://ecpecommercebucket-202501.s3.us-east-1.amazonaws.com/LambdaTemplate.yaml"
      },
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:createStack",
      "Next": "Stack Creation Successful",
      "ResultPath": "$.stack_name",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ]
    },
    "Stack Creation Result Unknown": {
      "Type": "Fail",
      "Error": "Unexpected Completion",
      "CausePath": "$.stack_status.Status"
    },
    "Stack Creation Successful": {
      "Type": "Succeed"
    },
    "Stack Creation Failed": {
      "Type": "Fail",
      "Error": "Stack Creation Failed"
    }
  }
}