state-machine.json.txt
{
  "Comment": "An example of creating a CloudFormation stack and waiting for completion.",
  "StartAt": "Generate Template",
  "States": {
    "Generate Template": {
      "Comment": "Placeholder for a task state which starts a job. Replace with an API action.",
      "Type": "Pass",
      "Next": "Create Stack",
      "Result": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Resources": {
          "SQSQueue": {
            "Type": "AWS::SQS::Queue"
          }
        }
      },
      "ResultPath": "$.template_body"
    },
    "Create Stack": {
      "Type": "Task",
      "Parameters": {
        "StackName.$": "States.Format('TestStack-{}',States.UUID())",
        "TemplateBody.$": "States.JsonToString($.template_body)"
      },
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:createStack",
      "Next": "Wait 15 Seconds",
      "ResultPath": "$.stack_name",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ]
    },
    "Wait 15 Seconds": {
      "Type": "Wait",
      "Next": "Describe Stack",
      "Seconds": 15
    },
    "Describe Stack": {
      "Type": "Task",
      "Parameters": {
        "StackName.$": "$.stack_name.StackId"
      },
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:describeStacks",
      "Next": "Stack Creation Complete?",
      "ResultSelector": {
        "Status.$": "$.Stacks[0].StackStatus"
      },
      "ResultPath": "$.stack_status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 4,
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "JitterStrategy": "FULL"
        }
      ]
    },
    "Stack Creation Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.stack_status.Status",
          "StringEquals": "CREATE_FAILED",
          "Next": "Stack Creation Failed"
        },
        {
          "Variable": "$.stack_status.Status",
          "StringEquals": "CREATE_COMPLETE",
          "Next": "Stack Creation Successful"
        },
        {
          "Variable": "$.stack_status.Status",
          "StringEquals": "CREATE_IN_PROGRESS",
          "Next": "Wait 15 Seconds"
        }
      ],
      "Default": "Stack Creation Result Unknown"
    },
    "Stack Creation Result Unknown": {
      "Type": "Fail",
      "Error": "Unexpected Completion",
      "CausePath": "$.stack_status.Status"
    },
    "Stack Creation Successful": {
      "Type": "Succeed"
    },
    "Stack Creation Failed": {
      "Type": "Fail",
      "Error": "Stack Creation Failed"
    }
  }
}